RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php [L,QSA]

<Files "Config.php">
    Order Allow,Deny
    Deny from all
</Files>
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

<Files ~ "\.sql$">
Order allow,deny
Deny from all
</Files>

<Files ~ "\.yml$">
Order allow,deny
Deny from all
</Files>

Options -Indexes